.parent {
    display: flex;
    flex-flow: row wrap;
    
}

.col {
    padding: 0 2.5%;
    width: 28.33%;
    flex: auto;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.wrap > nav {
    width: 100%;
}

.wrap > .articles {
    display: flex;
}


@media(max-width: 40em) {
    .wrap > nav {
        order: 2;
    }
    .wrap > .articles {
        order: 1;
    }
}